body, html {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 25px;
    max-height: 160%;
    font-family: 'Inter', sans-serif;
}

.dark-mode {
    background-color: black;
    color: white;
}

.dropbtn#language {
    background-color: transparent;
    margin-top: 80px;
}

/*heading formats*/
h1{
    color: midnightblue;
    background-color: dodgerblue;
    font-size: 75px;
    text-align: center;
    margin-bottom: 0;
    margin-top: -165px;
    padding-top: 40px;
    padding-bottom: 40px;
}

h2{
    font-size: 40px;
    text-align: center;
}

h3{
    font-size: 25px;
    text-align: center;
}

h4{
    color: midnightblue;
    background-color: dodgerblue;
    font-size: 75px;
    text-align: center;
    margin-bottom: 0;
    margin-top: -165px;
    padding-top: 40px;
    padding-bottom: 40px;
}

/*paragraph format*/
p{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

/*image format*/
img{
    border-radius: 50%;
}

#planeo_location {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure {
    float: left;
    width: 29%;
    text-align: center;
    color: grey;
}

#founderpic, #co-founderpic, #marketingpic{
    border: 5px solid dodgerblue;
}

#co-founderpic {
    margin-top: 300px;
}

/*opening times table*/
.opening {
    width: 48%;
    margin-top: -168%;
    margin-left: 52%;
    margin-bottom: 130%;
}

table, th, td {
    border-collapse: collapse;
}

table {
    width: 70%;
}

th, td {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

tr:nth-child(even) {
    background-color: dodgerblue;
}

/*sticky part*/
div.sticky{
    position: sticky;
    top:0;
}

/*navigation bar*/
.navbar {
    overflow: hidden;
    background-color: darkslategrey;
    width: 100%;
    margin-bottom: 50px;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 12%;
}

.help{
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
/*
.help .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    width: 100%;
}*/

.tools{
    float: left;
    overflow: hidden;
    width: 100%;
    text-align: left;
}
/*
.tools .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    width: 100%;
}*/

.burger{
    float: left;
    overflow: hidden;
    width: 15%;
    text-align: center;
}

.burger .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
    width: 100%;
}

.burger .dropdwn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    margin: 0;
}

.navbar a:hover, .help:hover, .tools:hover, .burger:hover, .dropbtn {
    background-color: lightskyblue;
}

.help-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    width: 15%;
    margin-top: -46px;
    margin-left: 100%;
}

.help-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 90%;
}

.help-content a:hover {
    background-color: #ddd;
    width: 80%;
}

.help:hover .help-content {
    display: block;
}

.tools-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    width: 15%;
    margin-top: -46px;
    margin-left: 100%;
}

.tools-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 90%;
}

.tools-content a:hover {
    background-color: #ddd;
    width: 80%;
}

.tools:hover .tools-content {
    display: block;
}

.burger-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    width: 15%;
}

.burger-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    width: 90%;
}

.burger-content a:hover {
    background-color: #ddd;
    width: 89%;
}

.burger:hover .burger-content {
    display: block;
}

.account {
    margin-left: 80%;
    margin-top: 15px;
    display: flex;
    gap: 20px;
}

/*button*/
.button {
    background-color: lightgray;
    border: none;
    color: black;
    padding: 3px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.button:hover {
    background-color: grey;
    cursor: pointer;
}

.button#darkmode {
    background-color: transparent;
    color: unset;
    margin-left: 90%;
    margin-top: 50px;
}

.button#darkmodeprofile {
    background-color: transparent;
    color: unset;
    margin-left: 90%;
    margin-top: 125px;
}

#profile {
    position: relative;
    top: 10px;
}

#profilepic {
    margin-left: 10px;
}

.core {
    width: 50%;
    margin-left: 5px;
}

.footer {
    align-self: center;
    background-color: darkgray;
    padding: 3px 100px 3px;
    font-size: 20px;
    position: relative;
    bottom: -250px;
}

.footer2 {
    align-self: center;
    background-color: darkgray;
    padding: 3px 100px 3px;
    font-size: 20px;
    position: absolute;
    bottom: -250px;
}

.dm {
    margin-left: -80px;
}

.main {
    margin-top: -50px;
    margin-bottom: 0;
    margin-left: 5px;
}

#feedback, #name, #mail{
    border: 1px solid;
    box-shadow: 8px 8px 16px 0 rgba(0,0,0,0.2);
}

.lang {
    float: right;
    text-align: center;
    margin-right: 5%;
    margin-top: -237px;
    position: relative;
    display: inline-block;
}

.lang .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: #f9f9f9;
    margin: 0;
    width: 100%;
}

.lang-content {
    width: 15%;
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.lang-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.lang-content a:hover {
    background-color: #ddd;
}

.lang:hover .lang-content {
    display: block;
}

a {
    color: lightgray;
}

a:hover {
    color: grey;
}

@media screen and (max-width: 1500px){
    .account {
        margin-left: 70%;
    }
}

@media screen and (max-width: 1000px){
    .core, .opening {
        width: 100%;
    }
    .opening {
        display: block;
        margin-left: 12%;
        margin-bottom: 0;
        margin-top: 100px;
    }
    .footer {
        font-size: 12px;
    }
    .account {
        margin-left: 60%;
    }
    #co-founderpic {
        margin-top: 0;
    }
    .burger-content a:hover {
        width: 80%;
    }
    #planeo_location {
        width: 550px;
        height: 350px;
    }
    #feedback {
        width: 75%;
    }
}

@media screen and (max-width: 600px){
    #planeo_location {
        width: 400px;
        height: 250px;
    }
}

@media screen and (max-width: 600px){
    h1 {
        font-size: 60px;
        margin-top: -146px;
    }
    .button#darkmode {
        margin-top: 31px;
    }
    h4 {
        font-size: 60px;
        margin-top: -146px;
    }
    .button#darkmodeprofile {
        margin-top: 106px;
    }
}

@media screen and (max-width: 1300px){
    .button#darkmode{
        margin-left: 80%;
    }
    .button#darkmodeprofile{
        margin-left: 80%;
    }
}

@media screen and (max-width: 1870px){
    figure {
        width: 20%;
    }
}

@media screen and (min-width: 1000px) {
    .burger {
        visibility: hidden;
    }
    .burger-content {
        display: inline-flex;
        visibility: visible;
        margin-left: -15%;
        padding-top: 5px;
        padding-bottom: 5px;
        box-shadow: none;
        width: 50%;
        background-color: darkslategrey;
    }
    .burger-content a{
        text-align: center;
        color: white;
    }
    .burger:hover .burger-content {
        display: inline-flex;
    }
    .burger-content a:hover {
        background-color: lightskyblue;
        color: black;
    }
    .tools {
        text-align: center;
    }
    .tools-content a {
        color: black;
    }
    .help-content a {
        color: black;
    }
    .tools:hover .tools-content {
        display: block;
        margin-top: 0;
        margin-left: 0;
    }
    .help {
        text-align: center;
    }
    .help:hover .help-content {
        display: block;
        margin-top: 0;
        margin-left: 0;
    }
    .burger .dropdwn {
        color: white;
    }
}

@media screen and (max-width: 600px){
    .footer2 {
        bottom: -500px;
    }
}

/*Try to make the navbar responsive*/
/*
@media screen and (min-width: 1000px){
    .burger {
        visibility: hidden;
    }

    .burger-content {
        display: flex;
        visibility: visible;
        gap: 150px;
    }

    .burger:hover .burger-content {
        display: flex;
    }
}*/