h1{
    color: midnightblue;
    background-color: lightblue;
    font-size: 75px;
}

h2{
    color: midnightblue;
    font-size: 40px;
}

h3{
    color: midnightblue;
    font-size: 25px;
}

p{
    color: midnightblue;
}

table{
    border-collapse: collapse;
}

img{
    border-radius: 50%;
}